<form method="post" action="/students/<%= @student.id %>" >

  <label for="first-name-field">First Name:</label>
  <input type="text" name="first_name" id="first-name-field" value="<%= @student.first_name %>"/>

  <label for="last-name-field">Last Name:</label>
  <input type="text" name="last_name" id="last-name-field" value="<%= @student.last_name %>"/>

  <label for="age-field">Age:</label>
  <input type="number" name="age" id="age-field" value="<%= @student.age %>"/>

  <label for="house_select">Select House:</label>
  <select name="house_id" id="house_select">
    <% @house.each do |house| %>
    <option value="<%=house.id%>"<%= "selected" if @student.house.name == house.name %>><%= house.name %></option>
    <%end%>
    <!-- <option value="<%= @student.house_id %>"<%= "selected" if @student.house.name == "gryffindor" %>>Gryffindor</option>
    <option value="<%= @student.house_id %>"<%= "selected" if @student.house.name == "hufflepuff" %>>Hufflepuff</option>
    <option value="<%= @student.house_id %>"<%= "selected" if @student.house.name == "ravenclaw" %>>Ravenclaw</option>
    <option value="<%= @student.house_id %>"<%= "selected" if @student.house.name == "slytherin" %>>Slytherin</option> -->
  </select>

  <input type="submit" value="Edit Student">
</form>
